@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0 auto;
}

div {
    position: relative;
}

.div-pai {
    background-color: #1683DE
}

.logo-titulo {
    width: 80%;
    padding: 30px;
    overflow: hidden;
    margin: 0 auto;
    background-color: #1683DE;
}

#logo {
    float: left;
}

#titulo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.712);
}

.menu {
    background-color: #11305C;
}

ul {
    list-style: none;
    background-color: #11305C;
    max-width: 80%;
    margin: 0 auto;
}

li {
    display: inline-block;
}

a {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 15px 20px;
}

a:hover {
    color: black;
    background-color: #6C9DE1;
    transition: background 0.5s;
}

.conteudo {
    position: relative;
    top: 10px;
    width: 80%;
    margin: 0 auto;
    background-color: #D0CDD7;
    padding: 0 5px 0 10px;
    box-sizing: border-box;
}

p {
    text-align: justify;
    margin-bottom: 10px;
}